//    Create console Tennis simulator.
//
//    User should be able to enter two players who will be playing against each other and their ATP ratings.
//
//    Think of an algorithm which will determine a probability to win a game. It should depend on:
//    a) Player who is serving, because serving gives and advantage to a player
//    b) Player's ATP rating. If 1 ATP rating is playing against 2 ATP rating the probability to win a game should be almost the same, while 1ATP rating vs 80ATP rating difference should be much bigger.
//    Result of a match/set/game should be displayed after each serve.
//
//    Future improvements:
//    a) Ability to play doubles
//    b) Adding more player attributes like stamina, serving accuracy/power which would affect probabilities to win a serve
//    c) Configuring match (number of games, sets)